<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <style>
        body {
            font-family: Arial;
            background-color: #fff8dc;
            text-align: center;
        }
        nav a {
            margin: 10px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <h1>Halaman About</h1>
    <p>Halaman ini berisi informasi tentang website.</p>

    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contacts/">Contacts</a>
    </nav>

    <hr>

    <h3>Tentang Project</h3>
    <p>Project ini menggunakan Django Framework untuk membuat web sederhana.</p>

</body>
</html>