<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <style>
        body {
            font-family: Arial;
            background-color: #e6ffe6;
            text-align: center;
        }
        nav a {
            margin: 10px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <h1>Halaman Contacts</h1>
    <p>Silakan hubungi kami melalui informasi di bawah ini.</p>

    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contacts/">Contacts</a>
    </nav>

    <hr>

    <h3>Kontak</h3>
    <p>Email: maharsemest@email.com</p>
    <p>Telepon: 0831-1310-8422</p>

</body>
</html>